#upform{
    display: flex; 
    align-items: center;
     justify-content: center;
    
}
#signup-form{
    margin-top: 3vh;
    background-color: cornflowerblue;
    padding: 1rem;
    border-radius: 1rem;  
}
input{
    height: 1.5rem;
}
h6{
    display: none;
}
h3{
    text-align: center  
}
#a1{
    text-align: center;
    background-color: aqua;
    margin-top: 1rem
}
#button1{
    padding: 1%;
    font-size: 12px;
}
#button1:hover{
    background-color: blue;
   
}
